@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
  --black: rgb(0,0,0);
  --green:#6ac025;
  --dark-green:rgb(68, 128, 24);
  
}
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  background-color: var(--green);
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}
.high{
  border-left:1px solid red;
}
a{
  color:#333;
  text-decoration: none;
}
input,textarea,select{
  padding:10px;
  font-size: 14px;
  border:1px solid;
  border-radius: 3px;
}
.btn{
  display:inline-block;
  border:none;
  background:#555;
  color:#fff;
  padding:7px 20px;
  cursor:pointer;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  display: grid;
  grid-template-columns: 0.1fr 0.5fr  0.5fr 0.1fr;
  background-color: #fff;
  color: var(--black);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}
.collapsible > input{
  vertical-align: middle;
}
.collapsible > p{
 margin:0px;
 
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #fff;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  padding:30px 20px;
  background-color: #fff;
  /* border-top:1px solid black; */
}
.col{
  display: block;
  width: 50%;
  float:left;
}
.col > * {
  margin:10px;
  display: block;
}


.collapsible:after {
  content: '\f067'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: var(--black);
  float: right;
  margin-left: 5px;
  font-family: FontAwesome
}

.active:after {
  content: "\f068"; /* Unicode character for "minus" sign (-) */
  font-family: FontAwesome
}